.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Garante que o modal esteja no topo */
  font-family: 'Inter Tight', sans-serif; /* Aplicando a fonte padrão */
}

.modalContent {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: left;
  z-index: 1001; /* Garante que o conteúdo do modal esteja no topo */
  font-family: 'Inter Tight', sans-serif; /* Aplicando a fonte padrão */
}

.modalContent h2 {
  margin-bottom: 20px; /* Adiciona a distância entre "Nova tarefa" e "Título" */
  font-family: 'Inter Tight', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.modalLabel {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  font-family: 'Inter Tight', sans-serif;
}


.modalInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
  font-family: 'Inter Tight', sans-serif; /* Aplicando a fonte padrão */
}

.modalInput::placeholder {
  color: #bbb;
  font-family: 'Inter Tight', sans-serif; /* Aplicando a fonte padrão */
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.cancelButton, .addButton {
  width: 100%;
  max-width: 185px;
  height: 51px;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
  text-align: center;
  font-family: 'Inter Tight', sans-serif; /* Aplicando a fonte padrão */
}

.cancelButton {
  background-color: #E7EEFB;
  color: #000000;
  transition: background-color 0.3s ease;
}

.addButton {
  background: linear-gradient(90deg, #079BD3 0%, #53C0F0 100%);
  color: white;
  transition: background-color 0.3s ease;
}

.addButton:disabled {
  background-color: #b0d5ff;
  cursor: not-allowed;
}
