.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid #D7DDE9;
  margin-bottom: 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.logoText {
  font-size: 24px;
  font-weight: bold;
  color: #0070f3;
}

.welcome {
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;  /* Centraliza o texto de boas-vindas */
  flex-direction: column;
  align-items: center;
}

.welcome h1 {
  font-family: 'Inter', sans-serif;  /* Aplicando a fonte Inter Tight */
  font-size: 24px;  /* Tamanho da fonte */
  font-weight: bold;  /* Negrito */
  letter-spacing: -2%;  /* Espaçamento entre letras */
  margin: 0;
  line-height: 29px;  /* Ajuste da altura da linha */
  color: #000;  /* Cor preta mais forte */
  white-space: nowrap;  /* Forçar o texto a ficar em uma única linha */
}

.date {
  text-align: right;
  font-size: 14px;
  color: #666;
}

.tarefasContainer {
  width: 450px;
  background: white;
  padding: 32px;
  border-radius: 16px;
  border: 1px solid #EAECF0;
  box-shadow: 0 2px 8px rgba(16, 24, 40, 0.05);
  margin: 100px auto 0;
}

.tarefasList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tarefasList li {
  display: flex;
  align-items: center;
  justify-content: flex-start;  /* Alinha os itens à esquerda */
  padding: 15px 10px;
  border: 1px dashed #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
  background-color: #fff;
}

.tarefasList li:hover {
  background-color: #f5f5f5;
}
/* Para estilizar as tarefas não completadas */
.tarefasList li:not(.completed) label {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: -0.02em;
  color: #000000; /* Cor #000000 (preto) */
}
/* Para estilizar o checkbox */
.tarefasList li input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #D7DDE9;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  margin-right: 10px; /* Espaçamento entre o checkbox e o texto */
}

.tarefasList li input[type="checkbox"]:checked {
  background-color: #79C7FF;
  border: none;
  content: url('../src/check.png');  /* Ícone SVG de check */
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarefasList li label {
  flex-grow: 1;
  text-align: left;  /* Garante que o texto das tarefas fique à esquerda */
  margin-left: 10px;  /* Ajusta o espaçamento entre o checkbox e o texto */
}

.tarefasList li.completed {
  text-decoration: line-through;
  color: #aaa;
}

.deleteButton {
  background: url('../src/lixeira.png') no-repeat center;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  margin-left: auto;  /* Garante que o ícone da lixeira fique à direita */
}



.addButton {
  width: 450px;
  height: 51px;
  background: linear-gradient(90deg, #079BD3 0%, #53C0F0 100%);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 16px 32px;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #005bb5;
}

.addButton:disabled {
  background-color: #b0d5ff;
  cursor: not-allowed;
}

.tarefasList li .deleteButton {
  margin-left: auto;
}

.tarefasList li.completed .deleteButton {
  margin-left: auto;
}

.tarefasList .hot {
  margin-right: 10px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Para estilizar "Suas tarefas de hoje" */
.suasTarefas {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.54); /* Cor com 54% de opacidade */
}

/* Para estilizar "Tarefas finalizadas" */
.tarefasFinalizadas {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.54); /* Cor com 54% de opacidade */
}

