.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0; /* Ajuste de padding para espaçar mais os elementos no header */
  border-bottom: 1px solid #D7DDE9; /* Cor da borda */
  margin-bottom: 20px; /* Espaço entre o header e o conteúdo */
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.logoText {
  font-size: 24px;
  font-weight: bold;
  color: #0070f3;
  font-family: Arial, sans-serif;
}

.welcome {
  text-align: center;
  flex: 1;
}

.welcome h1 {
  font-size: 18px;
  margin: 0;
}

.date {
  text-align: right;
  font-size: 14px;
  color: #666;
}

.tarefasContainer {
  width: 450px; /* Largura fixa para centralizar o conteúdo */
  background: white;
  padding: 32px;
  border-radius: 16px;
  border: 1px solid #EAECF0;
  box-shadow: 0 2px 8px rgba(16, 24, 40, 0.05);
  margin: 100px auto 0; /* Margin superior para afastar do header */
}

.tarefasList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tarefasList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  border: 1px dashed #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
}

.tarefasList li input[type="checkbox"] {
  margin-right: 10px;
}

.hot {
  color: red;
  font-weight: bold;
  margin-left: 10px;
}

.deleteButton {
  background: url('/icons/trash.svg') no-repeat center;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.addButton {
  background: linear-gradient(90deg, #079BD3 0%, #53C0F0 100%);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 16px 32px;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #005bb5;
}

.addButton:disabled {
  background-color: #b0d5ff;
  cursor: not-allowed;
}
